@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', sans-serif;
}

body {
    background-color: #2d2a2e;
    color: #fcfcfa;
    font-size: 32px;
    line-height: 1.5em;
}

.container {
    margin: 0 auto;
    width: 90vw;
}

a {
    color: #78dce8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type="text"] {
    display: block;
    width: 99%;
    height: 32px;
    font-size: 32px;
}

input[type="checkbox"] {
    display: none;
    width: 32px;
    height: 32px;
}

label {
    position: relative;
    margin: 32px 0 32px 40px;
    cursor: pointer;
}

input[type="checkbox"]:checked ~ label::before{
    position: absolute;
    width: 32px;
    height: 32px;
    top: -2px;
    left: -40px;
    content: "";
    background-color: #fcfcfa;
}

.hint-name,
.hint-crypto,
.div-skill,
.hint-skill {
    display: none;
}

.hint-name.show,
.hint-crypto.show {
    display: block;
}

button {
    position: relative;
    display: block;
    margin: 32px 0 32px 40px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 32px;
    cursor: pointer;
}

button::before {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -6px;
    left: -40px;
    content: '';
    visibility: hidden;
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

label:hover,
button:hover {
    color: #ff6188;
}

button:hover::before {
    visibility: visible;
}

ul {
    list-style: none;
}

li {
    margin: 16px 0;
}

.div-crypto {
    display: none;
}

@media (max-width: 575.98px) {
    body,
    input,
    button {
        font-size: 16px;
    }

    input[type="checkbox"] {
        width: 16px;
        height: 16px;
    }

    button {
        margin: 16px 0 16px 10px;
    }

    button::before,
    input[type="checkbox"]:checked ~ label::before {
        top: -1px;
        left: -12px;
        width: 18px;
        height: 18px;
    }

    label {
        margin-left: 20px;
    }

    input[type="checkbox"]:checked ~ label::before {
        left: -18px;
    }
}